*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #212121;
    text-align: center;
    margin-top: 20px;
}

h2{
    color: red;
    font-size: 40px;
}
h3{
    color: red;
    font-size: 45px;
}

#hone{
color: red;
}
#pone{
    color:aliceblue

}

button{
    font-size: 30px;
    color:white;
    background-color: blue;
    border: 2px solid rgb(12, 150, 86);
    width: 100px;
    height: 70px;
    margin-top: 20px;
    border-radius: 5px;
}